In [7]:
# exercise 1

def is_two(x):
    '''
    is_two:
    parameters: x, requires a numerical value
    function is_two will return boolean value dependent
    on the variable x being 2 or not.
    '''
    if x == 2 or x == '2':
        return True
    else:
        return False

In [3]:
is_two(2)

True

In [4]:
is_two(5)

False

In [8]:
is_two?

In [29]:
# exercise 2

def is_vowel(x):
    '''
    is_vowel:
    parameter: x, a string value
    returns: true if x is a vowel, false if x is anything else
    '''
    vowel = ['a', 'e', 'i', 'o', 'u']
    for v in vowel:
        if x.lower() == v:
            return True
    return False

In [28]:
is_vowel('O')

True

In [33]:
# exercise 3

def is_consonant(x):
    '''
    is_consonant:
    parameters: x, a string value
    returns: true if x is a constant, false if x is anything else
    '''
    vowel = ['a', 'e', 'i', 'o', 'u']
    for v in vowel:
        if x.lower() == v:
            return False
    return True

In [34]:
is_consonant('g')

True

In [42]:
# exercise 4

def cap_consonant(x):
    '''
    cap_consonant:
    parameters: x, a string that is a word
    returns: x with its first letter capitalized if it starts with a consonant
    '''
    vowel = ['a', 'e', 'i', 'o', 'u']
    f_character = x[0]
    for v in vowel:
        if f_character.lower() == v:
            return 'Invalid String'
    x = x.capitalize()
    return x

In [43]:
cap_consonant('amnesia')

'Invalid String'

In [60]:
# exercise 5

def calculate_tip(x, y):
    '''
    calculate_tip:
    parameters: (x [a numerical value between 0 and 1] , y [the bill total])
    returns: new numerical value representing total tip amount
    '''
    x = x/100
    tip_amount = format(x * y, '.2f')
    return f'${tip_amount}'

In [61]:
calculate_tip(15,30.46)

'$4.57'

In [63]:
#  exercise 6

def apply_discount(x, y):
    '''
    apply_discount:
    parameters: (x [original price], y [discount percentage])
    returns: a new numerical value representing the price after discount is applied
    '''
    
    y = y/100
    disc_amount = x * y
    new_amount = format(x - disc_amount, '.2f')
    return f'${new_amount}'

In [64]:
apply_discount(20, 10)

'$18.00'

In [69]:
# exercise 7

def handle_commas(x):
    '''
    handle_commas:
    parameters: x, a string that is a number that contains commas in it
    returns: x as an integer
    '''
    x = x.replace(',','')
    x = int(x)
    return x

In [71]:
handle_commas('4,123,234,123')

4123234123

In [72]:
# exercise 8

def get_letter_grade(x):
    '''
    get_letter_grade:
    parameters: x, a numerical value representing a grade
    returns: x as a string variant of its numerical value
    '''
    if x > 89:
        return 'A'
    elif x > 79:
        return 'B'
    elif x > 69:
        return 'C'
    elif x > 59:
        return 'D'
    else:
        return 'F'

In [76]:
get_letter_grade(94)

'A'

In [81]:
# exercise 9

def remove_vowels(x):
    '''
    remove_vowels:
    parameters: x, a string
    returns: a string with no vowels
    '''
    
    for v in x:
        if v.lower() == 'a':
            x = x.replace(v, '')
        elif v.lower() == 'e':
            x = x.replace(v, '')
        elif v.lower() == 'i':
            x = x.replace(v, '')
        elif v.lower() == 'o':
            x = x.replace(v, '')
        elif v.lower() == 'u':
            x = x.replace(v, '')
    return x

In [82]:
remove_vowels('Anaconda')

'ncnd'

In [95]:
# exercise 10

def normalize_name(x):
    '''
    normalize_name:
    parameters: x, a string
    returns: a valid python identifier
    '''
    for i in x:
        if i.isalnum() == False:
            x = x.replace(i, '')
    x = x.strip()
    x = x.lower()
    x = x.replace(' ', '_')
    return x

In [96]:
normalize_name('% Completed')

'completed'

In [135]:
# exercise 11

def cumulative_sum(ls):
    result = []
    count = 0
    for i in ls:
        count += i
        result.append(count)
    
    return result

In [136]:
cumulative_sum([1, 2, 3, 4])

[1, 3, 6, 10]